@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*
nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #4C223E;
    padding: 0.75rem 2rem;
    position: sticky;
    top:0;
    z-index: 10;
    font-family: 'Inter', sans-serif;
}

nav .title {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #FAF5E9;
}

nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li{
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #FAF5E9;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

nav ul li a:hover {
    color: #9C80DB;
}

nav ul li .btn {
    color:#C5B2E7;
    background-color: #823e783f;
    border-radius: 2rem;
    border-width: 1px;
    border-color: #823E78;
}

nav ul li .btn:hover {
    color:#C5B2E7;
    background-color: #9C80DB;
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    height: 0.1rem;
    width: 100%;
    background-color: #9C80DB;
    border-radius: 0.2rem;
}

@media (max-width: 480px) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    neav ul i a {
        margin : 0.2rem 0.5rem;
    }
}*/